<div class="jumbotron">
<h1>Cultivos y otras coberturas de la tierra</h1>
&nbsp;
	<div class="row mb-2">
		<div class="col-md-6">
			<strong>Granos básicos en Centroamérica</strong>
			&nbsp;
			<a href="<%= image_path("Centroamerica_clases.png") %>"><img src="<%= image_path("Centroamerica_clases.png") %>" width="100%" /></a>
		</div>
		<div class="col-md-6">
			<strong>Cobertura de la tierra en el Corredor Seco Centroamericano</strong>
			&nbsp;
			<a href="<%= image_path("Centroamerica_CSC_clases.png") %>"><img src="<%= image_path("Centroamerica_CSC_clases.png") %>"  width="100%" /></a>
		</div>
	</div>
</div>