<div class="jumbotron">
  <div class="container">
    <p><strong>Sistema mundial de información y alerta sobre la alimentación y la agricultura (SMIA)</strong> supervisa el estado de los principales cultivos alimentarios en 
    todo el mundo para evaluar las perspectivas de producción. Para fundamentar el análisis y complementar la información de campo, el SMIA utiliza datos teledetectados que 
    pueden proporcionar información valiosa sobre la disponibilidad del agua y la salud de la vegetación durante los periodos vegetativos. Además de las estimaciones de 
    precipitación y el índice Normalizado Diferencial de la Vegetación (NDVI, por sus siglas en inglés), el SMIA y la División CBC de la FAo han desarrollado el Índice
    de Estrés Agrícola (ASI, por sus siglas en inglés), un indicador rápido para la identificación temprana de zonas agrícolas probablemente afectadas por episodios de sequía,
    o por sequía en casos extremos.
    </p>
  </div>
</div>
<div class="d-flex flex-row-reverse">
    <span>Últimos datos: <strong>década 1 jun 2018<strong></span>
</div>

<div class"row">
    <h1>Global</h1>
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-md-8 text-center">
                    <a href="<%= image_path("Centroamerica_CSC_clases.png") %>" 
                    data-lightbox="image-1" 
                    data-title="Sistema de vigilancia de la sequia agrícola en Centroamerica">
                        <img src="<%= image_path("Centroamerica_CSC_clases_500_647.png") %>">
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="nav flex-column nav-pills" id="left-nav" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Información agronómica</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Estado de la vegetación</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Granos básicos</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Corredor Seco Centroamericano</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Referencias</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>