<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link dropdown-toggle" href="#" id="informacionAgronoma" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false">Información agrónoma</a>
        <div class="dropdown-menu" aria-labelledby="informacionAgronoma">
          <a class="dropdown-item" href="#">Cultivos y otras coberturas de la tierra</a>
          <a class="dropdown-item" href="#">Fenología</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Estado de la vegetación</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="branosBasicos" data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false">Granos básicos</a>
        <div class="dropdown-menu" aria-labelledby="branosBasicos">
          <a class="dropdown-item" href="#">Arroz</a>
          <a class="dropdown-item" href="#">Maíz/Frijol</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="corredorSeco"  data-toggle="dropdown" 
        aria-haspopup="true" aria-expanded="false">Corredor Seco</a>
        <div class="dropdown-menu" aria-labelledby="corredorSeco">
          <a class="dropdown-item" href="#">Cultivos Anuales</a>
          <a class="dropdown-item" href="#">Pastos</a>
          <a class="dropdown-item" href="#">Cultivos perennes</a>
          <a class="dropdown-item" href="#">Vegetación arbustiva</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Referencias</a>
      </li>
    </ul>
  </div>
</nav>