<div class="jumbotron">
  <div class="container">
    <p><strong>El sistema de vigilancia de la sequía agrícola</strong> se establece con la colaboración de la Organización para la Agricultura y la Alimentación de las Naciones Unidas (FAO) para el fortalecimiento de las capacidades nacionales y regionales para el monitoreo y alerta temprana de la sequía en agricultura con el uso de información geoespacial.  El sistema sirve de apoyo a la adaptación al cambio climático y gestión de riesgos.  Este esfuerzo a la vez complementa las actividades que el Comité Regional de Recursos Hidráulicos (CRRH) realiza con la “Perspectiva Regional del Clima”.  El Sistema Mundial de Información y Alerta sobre la alimentación y la agricultura (SMIA) contribuye a las regiones y países suministrando las imágenes en tiempo cuasi-real (cada 10 días) para el cálculo del Índice de Estrés Agrícola (ASI, por sus siglas en inglés), un indicador rápido para la identificación temprana de zonas agrícolas con alta probabilidad de ser afectadas por episodios de sequía, o por sequía extremas. 
    </p>
    <p>ASIS en el 2016 obtuvo el premio por el uso de la información geoespacial en agricultura: <strong>Geospatial World Excellence Award.</strong> 
  </div>
</div>
<div class="d-flex flex-row-reverse">
    <span>Últimos datos: <strong>década 1 jun 2018<strong></span>
</div>

<div class"row">
    <div class="col-12">
        <div class="card">
            <div class="card-body row">
                <div class="col-md-12 text-center">
                    <div id="imageCarouselHomeIndex" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <% @files.each_with_index do |f, index| %>
                                <li data-target="#imageCarouselHomeIndex" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : '' %>"></li>
                            <%end%>
                        </ol>
                        <div class="carousel-inner">
                            <% @files.each_with_index do |f, index| %>
                                <div class="carousel-item <%= index == 0 ? "active" : '' %>">
                                    <img class="d-block w-100" src="<%= f %>">
                                </div>
                            <%end%>
                        </div>
                        <a class="carousel-control-prev" href="#imageCarouselHomeIndex" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#imageCarouselHomeIndex" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
