<%= content_for :embed_js do %>
  <script>
    $(document).on('turbolinks:load', function(){
        BASIC_GRAINS.init();
    });
  </script>
<% end %>

<div class="jumbotron">
  <div class="container">
    <%= form_with(url: basic_grains_get_images_path, model: @grains_images, method: :get) do |f| %>
        <div class="row">
            <h1>Granos Básicos de Centro América</h1>
            <input type="hidden" name="grains_images_form[is_csc]" value="0">
            <input type="hidden" name="grains_images_form[is_dif]" value="0">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="main_class">Índices</label>
                    <select class="form-control" id="main_class" name="grains_images_form[main_class]">
                        <option value="asi">Índice de estrés agrícola (ASI)</option>
                        <option value="sequia">Categorías de Sequía</option>
                        <option value="probabilidad">Probabilidad Histórica de Sequía</option>
                    </select>
                </div>
                <div class="form-group" id="periodSelect">
                    <label for="period_type">Periodo</label>
                    <select class="form-control" id="period_type" name="grains_images_form[period_type]">
                        <option value="t">Decadías (10 días)</option>
                        <option value="y">Año</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="crop_type">Tipo de cultivos</label>
                    <select class="form-control" id="crop_type" name="grains_images_form[crop_type]">
                        <option value="rice">Arroz</option>
                        <option value="corn_beans">Maíz/Frijoles</option>
                    </select>
                </div>
                <div class="form-group" id="percentage-container" style="<%= @grains_images.percentage == 'porcentage' ? '' : 'display:none;' %>">
                    <label for="percentage">Probabilidad histórica de sequía</label>
                    <select class="form-control" id="percentage" name="grains_images_form[percentage]">
                        <option value="20">20%</option>
                        <option value="30">30%</option>
                        <option value="50">50%</option>
                    </select>
                </div>                
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    <%end%>
  </div>
</div>
<div class="row">
    <div class="col-12" id="container">
    </div>
</div>